@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
$font1: Helvetica, Arial, sans-serif;

// = Colors

$color-bg:  #181818;
$color-bg-curriculum: white;

$color-font-heading: #222;
$color: lighten(#222, 20);
// $color-font-paragraph: #444;
// https://www.tutorialsteacher.com/sass/sass-color-functions
$color-font-paragraph: lighten($color-font-heading, 30);
$color-font-details: black;

$color-border-section: #dedede;
$color-border-contact: black;

$color-link: black;

