@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
$font1: Helvetica, Arial, sans-serif;

// = Colors
// -----------------------------

// Graphic chart
$color-bg:  #181818;
$color-bg-curriculum: #f3f3f3;

$color-font-heading: #222;
$color-font-paragraph: #444;
$color-font-details: #cf8a05;

$color-border-section: #dedede;
$color-border-contact: #cf8a05;

$color-link: #cf8a05;
